body {
  font-family: sans-serif;
}

h3 {
  text-align: center;
}

canvas {
  display: block;
  border: 1px solid black;
  background-color: #000;
  border-radius: 10px;
  margin: 0 auto;
}
